<div class="intro">
  <h2>Conclusion</h2>
  <p>This is all, we hope you like it!</p>
</div>

<app-section title="The disarrangements revealed">
  <ul>
    <li>The teapot is quite impractical, isn't it?</li>
    <li>The code is in Wingdings. Who would do that?</li>
    <li>The mouse is from Apple, but the computer is running Windows.</li>
    <li>
      The Apple mouse is charging, but the charging port is underneath the
      mouse.
    </li>
    <li>The coaster has a pattern that is broken at one place.</li>
    <li>The mug is placed right beside the coaster instead of on top of it.</li>
    <li>
      The notebook is has its lines drawn in the horizontal direction, but the
      title is written vertically.
    </li>
  </ul>
  <p>These are all the disarrangements, how many did you notice?</p>
</app-section>
