<div class="intro">
  <h2>Conclusion</h2>
</div>

<app-section title="The disarrangements revealed">
  <ul>
    <li>The teapot is quite impractical, isn't it?</li>
    <li>The code is in Wingdings. Who would do that?</li>
    <li>
      Mouse and keyboard are from Apple, but the computer is running Windows.
    </li>
    <li>
      The Apple mouse is charging, but the charging port is underneath the
      mouse. FYI: That is the real design.
    </li>
    <li>The coaster has a pattern that is broken at one place.</li>
    <li>The mug is placed right beside the coaster instead of on top of it.</li>
    <li>
      The notebook is has its lines drawn in the horizontal direction, but the
      title is written vertically.
    </li>
    <li>
      The pencil has no tip. This one was for the people with eyes of an eagle.
    </li>
  </ul>
  <p>These are all the disarrangements, we hope you liked it :)</p>
</app-section>

<app-section title="Acknowledgements">
  <app-figure
    firstSrc="sketch.jpeg"
    firstCaption="Sketch"
    secondSrc="final.jpeg"
    secondCaption="Rendered image"
    caption="From idea to reality"
  >
    <!--TODO: final image-->
  </app-figure>

  Our image would have stayed this sketch if not for all the wonderful artists
  that publish their assets online for free and make great YouTube tutorials.
  Also many thanks to our friends who provided valuable feedback on the scene
  and pointed out things to improve, which we would not have recognized anymore
  after staring at it for hours. Last but not least, thanks to our tutor for
  helping with the most difficult features and bugs.
</app-section>

<app-section title="References">
  <p>
    <a href="https://graphics.cg.uni-saarland.de/courses/cg1-2024/index.html">
      Computer Graphics Lecture 2024/25 </a
    >by Prof. Dr.-Ing. Philipp Slusallek and Dr.-Ing. Pascal Grittmann<br />
    <a href="https://www.pbr-book.org/4ed/contents"
      >Physically Based Rendering: From Theory To Implementation</a
    ><br />
    <a href="https://www.scratchapixel.com/index.html">scratchapixel 4.0</a>
    Lessons and Tutorials
  </p>
  <p>
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/ae1a4d88-b999-41d5-971b-2e54e38a2494/"
    >
      Monitor 3D model
    </a>
    curtesy of
    <a href="https://www.blenderkit.com/asset-gallery?query=author_id:855757"
      >Steven Yap
    </a>
    <br />
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/9563916d-2e3a-46f6-b751-69da0dd90601/"
      >Apple keyboard</a
    >
    and
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/e3818e10-f7c7-4bdd-8dca-392bfa0aa853/"
      >mouse</a
    >
    curtesy of
    <a href="https://www.blenderkit.com/asset-gallery?query=author_id:32797"
      >Zulian Firmansyah
    </a>
    <br />
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/3d998505-6bbb-4cc2-8359-c147ac531430/"
      >Foggy Cup</a
    >
    curtesy of
    <a
      href="https://www.blenderkit.com/asset-gallery?query=order:-score+author_id:50096"
      >Rex Hans</a
    >
    <br />
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/9ace0c02-0bd9-487f-8f06-881a27fdbc9a/"
      >Stadtler Pencil</a
    >
    curtesy of
    <a
      href="https://www.blenderkit.com/asset-gallery?query=order:-score+author_id:181731"
      >Professor Franco Difilippo</a
    >
    <br />
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/0da2d6c0-a4ea-4724-b6fe-38a743925a51/"
      >Small Notebook</a
    >
    curtesy of
    <a
      href="https://www.blenderkit.com/asset-gallery?query=order:-score+author_id:272522"
      >Daniel Lee</a
    >
    <br />
    <a
      href="https://www.turbosquid.com/3d-models/realistic-male-character-rigged-2325793"
      >Programmer 3D model</a
    >
    curtesy of
    <a
      href="https://www.turbosquid.com/Search/Artists/Giyasudeen?dd_referrer=https%3A%2F%2Fwww.turbosquid.com%2F3d-models%2Frealistic-male-character-rigged-2325793"
      >Giyasudeen</a
    >
    <br />
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/3abb9b37-672e-4f68-8ecb-2553c80bd9d1/"
      >Desk 3D model</a
    >
    curtesy of
    <a
      href="https://www.blenderkit.com/asset-gallery?query=order:-score+author_id:63519"
      >Robert Restu Pambudi</a
    >
  </p>

  <p>
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/602514b0-7e38-458a-8c5c-4921c34bfdb0/"
      >HDRi of a sunset</a
    >
    curtesy of
    <a
      href="https://www.blenderkit.com/asset-gallery?query=order:-score+author_id:204469"
      >EB Adventure Photoscans</a
    >
    <br />
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/0cf6917f-ac53-41dc-aaec-6711371a4479/"
      >Material: Wallpaper</a
    >
    and
    <a
      href="https://www.blenderkit.com/asset-gallery-detail/35421bc9-a49d-4979-8d93-0c13e9eba371/"
      >Wood texture for the desk</a
    >
    curtesy of
    <a
      href="https://www.blenderkit.com/asset-gallery?query=order:-score+author_id:254131"
      >Share Textures</a
    >
    <br />
  </p>
  <p>
    <app-figure
      src="programmer.png"
      caption="Rest In Peace Programmer, unfortunately you had too many verticies"
    ></app-figure>
  </p>
</app-section>
