<mat-toolbar class="toolbar">
  <mat-toolbar-row class="menu">
    <button mat-icon-button (click)="sidenav.toggle()" style="color: white" *ngIf="sidebarShown">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="title" style="color: white">
      Entei
      <span class="subtitle">Rendering Competition</span>
    </div>
    <span class="spacer"></span>
    <ng-container *ngIf="!sidebarShown">
      <div *ngFor="let link of links" class="link-container">
        <a mat-flat-button [routerLink]="link.url" routerLinkActive="active">
          {{ link.name }}
        </a>
      </div>
      <span class="spacer"></span>
      <span class="spacer"></span>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #sidenav mode="over" *ngIf="sidebarShown">
    <mat-list>
      <a *ngFor="let link of links" [routerLink]="link.url" mat-list-item
        (click)="sidebarShown ? sidenav.toggle() : null" class="hoverable">
        {{ link.name }}
      </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <router-outlet></router-outlet>
      <mat-divider></mat-divider>
      <div class="footer">
        <span>© 2024 Leonie von Mann & Florian Romann</span>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>