<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 class="mat-sys-headline-large" style="color: white">
    Entei - Rendering Competition
  </h2>
  <div class="spacer"></div>
</mat-toolbar>
<mat-drawer-container class="max-height">
  <mat-drawer #drawer mode="side" class="drawer">
    <div class="link-container">
      <a mat-button routerLink="/" routerLinkActive="active"> Introduction </a>
      <a mat-button routerLink="/features" routerLinkActive="active">
        Our Features
      </a>
      <a mat-button routerLink="/final" routerLinkActive="active">
        Final Submission
      </a>
    </div>
  </mat-drawer>

  <div class="container max-height">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
