<mat-toolbar class="toolbar">
  <mat-toolbar-row class="menu">
    <h1 class="mat-sys-headline-large" style="color: white">
      Entei - Rendering Competition
    </h1>
    <span class="spacer"></span>
    <div class="link-container">
      <a mat-flat-button routerLink="/" routerLinkActive="active">
        Our Submission
      </a>
    </div>
    <div class="link-container">
      <a mat-flat-button routerLink="/features" routerLinkActive="active">
        Implemented Features
      </a>
    </div>
    <div class="link-container">
      <a mat-flat-button routerLink="/references" routerLinkActive="active">
        References
      </a>
    </div>
    <span class="spacer"></span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container max-height">
  <router-outlet></router-outlet>
</div>