.container {
  padding: 0 0.5rem;
  margin: auto;
  align-self: center;
  overflow-x: hidden;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: var(--mat-sys-primary);
}

.drawer,
.container,
mat-drawer-content {
  height: 100%;
}

mat-drawer-container {
  height: calc(100% - 64px);
}

.title {
  margin-left: 0.5em;
}

.subtitle {
  font-size: var(--mat-sys-title-small-size);
}

.link-container {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.hoverable:hover {
  background-color: lightgray;
}

.mat-mdc-icon-button {
  padding: 0;
}