// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use '../theme-colors' as my-theme;

html {
  color-scheme: light;
  @include mat.theme((color: (theme-type: light,
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  // @include mat.theme(
  //   (
  //     color: (
  //       theme-type: dark,
  //       primary: mat.$cyan-palette,
  //       tertiary: mat.$orange-palette,
  //     ),
  //     typography: Roboto,
  //     density: 0,
  //   )
  // );
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

app-root {
  display: block;
  height: 100%;
}

h2 {
  font-weight: 100;
}



.intro, .content, .header div {
  max-width: 50%;
  margin: auto;
  align-self: center;
}

@media screen and (max-width: 980px) {
  .intro, .content, .header div {
    max-width: 30rem;
  }

  .header {
    padding-block: auto;
  }
}

.intro {
  padding: 0.5em 0;
}