<h2>Welcome to our submission to the Rendering Competition!</h2>

<app-section title="About Our Scene">
    <p>
        Our scene depicts a programmer sitting at a clean and tidy desk, using an impressive setup.
        The main source of chaos in this harmonious environment is on his screen, where it’s revealed that he codes
        using
        the Wingdings font.
        Scattered across his desk, there are small details that further represent our interpretation of 'Chaos in
        Harmony'.
        The screen also shows that the programmer uses Windows, whereas his keyboard and mouse are from Apple.
        The Apple mouse is also currently charging.
        Its charging port is underneath the mouse which is quite impractical and another source of 'Chaos'
        Inspired by the kinds of images you find when you search "pictures that trigger OCD," we incorporate subtle
        disarrangements into the scene.
        Another source of inspiration is the Masochist's teapot from the cover of Don Norman's 'The Design of Everyday
        Things'.
    </p>
</app-section>