<div class="intro">
    <h2>Welcome to our submission to the Rendering Competition!</h2>
</div>

<app-section title="The Design of Everyday Wingdings">
    <app-figure firstSrc="sketch.jpeg" firstCaption="Sketch" secondSrc="final.jpeg" secondCaption="Rendered image">
        <!--TODO: final image-->
        From idea to reality
    </app-figure>

</app-section>

<app-section title="About Our Scene">
    <p>
        Our scene depicts a programmer sitting at a clean and tidy desk, using an impressive setup.
        This is supposed to represent the 'Harmony'.
        We incorporate many small disarrangements into the scene to represent the 'Chaos in Harmony'.
        In the following we describe them in detail, maybe you can look for them for yourself and check afterwards how
        many of them you found?
    </p>
    <p>
        The first source of 'Chaos' in this harmonious environment is on their screen, where it's revealed that they
        code using the Wingdings font.
        The screen also shows that the programmer uses Windows, whereas their keyboard and mouse are from Apple.
        The Apple mouse is also currently charging.
        Its charging port is underneath the mouse which is quite impractical and another source of 'Chaos'.
        The coaster for the mug on the table has a pattern that is broken at one place.
        This is inspired by the kinds of images you find when you search 'pictures that trigger OCD'.
        It is also infuriating for some people that the mug is placed right beside the coaster instead of on top of
        it.
        For the teapot we use the Masochist's teapot from the cover of Don Norman's 'The Design of Everyday
        Things'.
    </p>
    <p>
        These are all the disarrangements, how many did you notice?
        Furthermore, we added a few small easter eggs into the scene.
        On the top right of our screen you can see the very first sketch of our scene.
        Below it there is a rendered image of the scene.
        This gives the illusion that the image shows us working on the rendering competition.
        Placed on the left of the monitor there is a little paperweight/sculpture of the blender monkey.
    </p>
    <p>
        This is all, we hope you like it!
    </p>
</app-section>