<div class="intro">
  <h2>Welcome to our submission to the Rendering Competition!</h2>
</div>

<app-section title="The Design of Everyday Wingdings">
  <app-figure
    src="final.jpeg"
    caption="Final Render with 2048 samples per pixel"
  >
    <!--TODO: final image-->
  </app-figure>
</app-section>

<app-section title="About Our Scene">
  <p>
    When brainstorming about what to create for the topic 'Chaos in Harmony', we
    discovered a fun and interesting interpretation. As a programmer one could
    argue we might have created the most harmonious environment: A clean and
    tidy desk with an impressive setup.
  </p>
  <p>
    How could this be chaotic? Well, take a closer look at the details in the
    scene and you will see that there are many small disarrangements. We were
    inspired by pictures that come up when you google: 'pictures that annoy your
    inner perfectionist'. They represent the 'Chaos in Harmony'. If you want you
    can look for them yourself. Can you find all 7 (+1 very tricky)
    disarrangements?
  </p>
  <p>
    If you want to find them without help, stop reading now. All disarrangements
    will be revealed on the
    <a href="/references" routerLinkActive="true">final page</a>. Now, we give
    you the first one for free and a few hints: The tea pot is customly modeled
    after the Masochist's teapot from the cover of Don Norman's 'The Design of
    Everyday Things'. We also customly modeled the coasters, the mouse pad, and
    the mouse cable. The screen and the textbook use custom textures.
  </p>
  <p>
    Furthermore, we added a few small easter eggs into the scene. On the top
    right of our screen you can see the very first sketch of our scene. Below is
    one of the first rendered images of the scene, giving a scene-ception
    effect. Placed on the left of the monitor there is a little
    paperweight/sculpture of the blender mascot Suzanne.
  </p>
  <p>
    On the next <a href="/features" routerLinkActive="true">page</a>, we detail
    all bonus features, we implemented in our renderer: TheSlimShader.
  </p>
</app-section>
