.header {
    background-color: #f3f3f3;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 25%;
    font-size: larger;
    font-weight: 100;
}

.content {
    padding-inline: 1em;
    margin-bottom: 3rem;
    max-width: 50%;
    margin: auto;
    align-self: center;
}